@charset "UTF-8";
body{
    margin:0;
    padding:0;
    background-color: #ececec;
    background-image: url("../img/nadaken_bg.png");    
    color:#666666;
    font-size:12pt;
}
a{
    text-decoration: none;
    color:#70b198;
}

.page{
    width:100%;
}
.header_back{
    background-image: url("../img/maru_bg_stripe_top.png");
    height:50px;
}
.fix_center, .widget-area{
    width:900px;
    margin:auto;
}
.search-box{
    float:left;
    width:300px;
    margin:auto;
}
.search-box .submit_button{
    display:none;
}
.search-box #ContentQ{
    margin-top: 10px;
    width:250px;
    height:28px;
    font-size:11pt;
    padding-left:15px;
    border-radius:30px;
    border-width: 0;
    background-image: url("../img/maru_search.png");
    background-position: 242px center;
    background-color: white;
    background-repeat: no-repeat;
    box-shadow:1px 1px 1px #9d9d8e;
}
.connection p{
    margin:0;
}
.sns{
    float:right;
    height:25px;
    width:520px;
    text-align:right;
    margin-top: 10px;
}
.blog_single .sns{
    line-height:10px;    
}
.blog_single .eye-catch{
    text-align: center;
}
.page{
    position: absolute;
}
.main_content{
    margin-top:408px;
}

.navigation{
    background-image: url("../img/nadaken_bg_wh.png");    
    position:absolute;
    width:100%;
    padding-top:60px;
    height:352px;
    top:0px;
}
.navigation ul{
    list-style: none;
    /* border: dotted #aaa; */
    /* border-width: 1px 0px; */
}
.navigationt li{
    display: block;

}
.blog_sequence, .with_text .article,.with_text .more a, .mail td,.blog_single h1, .static h1,.static table th,.static table td, .widget-area-2{
    border-image: url("../img/pencil_line.png") 3 round;
    border-style:solid;
    border-image-repeat: round;
    border-color:#d8d8d8;
    border-width:1px;
    border-image-width: 3px;
    
}
.mail table{
    min-width:80%;
}
.mail th, .mail td{
    border-image-width:0 0 3px 0;
    border-width:0 0 1px 0;    
}
.mail .submit{
    margin-top:25px;
}
.blog_sequence, .with_text .article{
    margin-top:30px;
}
.navigation li a{
    border: #aaa dotted;
    border-width: 1px 0px;
    border-image-width:0px 0px 3px 0px;
    margin-bottom: 1px;    
    display:block;
    height: 55px;
    line-height: 55px;
    padding-left:52px;
    background-image: url("../img/maru_icon.gif");
    background-position: 23px center;
    background-repeat: no-repeat;
    color:#666666;
    width: 237px;
    transition-duration: 0.4s;    
    
}
.navigation li.first a,.menu_right li a{
    border-image-width:3px 0px 3px 0px;
}
.totop:hover{
    background-color:#42403a;
    transition-duration: 0.2s;
}

.navigation li a:hover,.with_text .more a:hover,.widget-blog-recent-entries a:hover {
    background-color:#d7d7d1;
    color:#000;
    box-shadow: rgba(158,158,143,0.4) 0 0 10px;
    transition-duration: 0.2s;
    
}
.menu_right{
    border-bottom: 1px dotted #aaa;
    padding-bottom: 1px;
    
}
.menu_left,.logo,.menu_right{
    float:left;
}

.logo{
    margin-top:91px;
    width:320px;
    text-align:center;
}
.logo img{
    border-radius: 88px;
    transition-duration: 0.2s;    
}
.logo img:hover{
    margin:-4px;
    box-shadow:0 4px 4px rgba(0,0,0,0.4);
    transition-duration: 0.2s;    
    
}

.menu_left ul, .menu_right ul{
    margin:0;
    margin-top: 60px;
    padding:0;
    border: dotted #aaa;
    border-width: 1px 0;
    padding-top: 1px;
}
.connection{
    padding:23px;
    height:125px;    
    border-bottom: 1px dotted #aaa;
    color:#9e9e8f;
}
.company_name{
    font-size:11pt;
}
.tel{
    font-size:15pt;
    font-weight: bold;
}
.tel .number{
    color:#666666;
}
.time{
    font-size: 9pt;
    padding-left:5pt;
}
.addrees{
    padding-left:5pt;
    font-size:11pt;
    padding-top:8px;
}
.map_link{
    display:inline-block;
    width:34px;
    height:14px;
    background-color:#9D6764;
    font-size:10px;
    text-align:center;
}
.map_link a{
    color:#eee;
}
.eyeCatch{
    height: 165px;
    width:165px;
    overflow:hidden;     
    border-radius: 50%;
    transition-duration: 0.3s;
}
.eyeCatch:hover{
    transition-duration: 0.1s;
    margin-top:-4px;
    box-shadow:0 4px 4px rgba(0,0,0,0.3);    
}
.eyeCatch img{
    height:165px;
    position:relative;
}

.container{
    padding-top:30px;
}
.non_text .article{
    margin:30px;
    float:left;
    height:165px;
}
.non_text .new{
    top:-165px;
    left:125px;    
    width:45px;
    height:45px;
    line-height: 45px;
    border-radius: 50%;
    position:relative;    
}
.article .new{
    background-color:#9d6764;
    color:#fff;
    text-align: center;
    font-size:9pt;
    font-weight: bold;

}

.totop{
    display:block;
    clear:left;
    width:440px;
    background-color:#221714;
    text-align: center;
    height: 40px;
    margin:30px auto 60px auto;
    line-height: 40px;
    border:1px solid #d8d8d8;    
}
.totop{
    color:#aaa;
    transition-duration: 0.4s;    
}
.totop img{
    padding-right:0.7em;
}
.footer hr{
    height:60px;
    background-image: url("../img/nadaken_bg_wh.png");    
    border:none;
}
#border_top, #border_bottom,#border_left, #border_right{
    transition-duration: 1s;
    position: fixed;
}
#border_top, #border_bottom{
    width:100%;
    z-index: 9996;
}
#border_top,#border_bottom{
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-out;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-out;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-timing-function: ease-out;    
}
#border_top{
    -webkit-animation-name: border_top_anime;
    -moz-animation-name: border_top_anime;
    -o-animation-name: border_top_anime;
    -ms-animation-name: border_top_anime;
    animation-name: border_top_anime;
    top:0px
}
#border_bottom{
    -webkit-animation-name: border_bottom_anime;
    -moz-animation-name: border_bottom_anime;
    -o-animation-name: border_bottom_anime;
    -ms-animation-name: border_bottom_anime;
    animation-name: border_bottom_anime;
}

@-webkit-keyframes border_top_anime{
    0%{top:-60px}
    30%{top:-60px}
    100%{top:0px}
}
@-moz-keyframes border_top_anime{
    0%{top:-60px}
    30%{top:-60px}    
    100%{top:0px}
}
@-o-keyframes border_top_anime{
    0%{top:-60px}
    30%{top:-60px}    
    100%{top:0px}
}
@-ie-keyframes border_top_anime{
    0%{top:-60px}
    30%{top:-60px}    
    100%{top:0px}
}
@keyframes border_top_anime{
    0%{top:-60px}
    30%{top:-60px}    
    100%{top:0px}
}
@-webkit-keyframes border_bottom_anime{
    0%{bottom:-92px}
    30%{bottom:-92px}    
    100%{bottom:0px}
}
@-moz-keyframes border_bottom_anime{
    0%{bottom:-92px}
    30%{bottom:-92px}    
    100%{bottom:0px}
}
@-o-keyframes border_bottom_anime{
    0%{bottom:-92px}
    30%{bottom:-92px}    
    100%{bottom:0px}
}
@-ie-keyframes border_bottom_anime{
    0%{bottom:-92px}
    30%{bottom:-60px}    
    100%{bottom:0px}
}
@keyframes border_bottom_anime{
    0%{bottom:-92px}
    30%{bottom:-92px}    
    100%{bottom:0px}
}

#border_bottom{
    bottom:0px;
}
#border_left{
    left:0px;
}
#border_left, #border_right{
    width:60px;
    z-index: 9995;
    height:100%;
    top:0;
    background-image: url("../img/maru_bg_stripe.png");
    
}
#border_left{
    left:0;
}
#border_right{
    right:0;
}
.menu_left .last{
    display:none;
}
.widget-area h2,.widget-blog-recent-entries h2{
    margin-top:-5px;
    margin-bottom:20px;
    font-size:11pt;
    text-align: center;
    background-color:#9c9d8b;
    color:white;
}
.fb-like-box{
    margin-top: 60px;
    font-size: 11pt;
    text-align: center;
}
.footer_background,.footer_navi{
    background-image: url("../img/maru_bg_stripe_bottom.png");    
    
}

.footer_navi{
    margin-top:60px;
    padding-top:40px;
    padding-bottom: 92px;
}
.footer_navi ul {
    margin:0;
    text-align: center;
}
.footer_navi li{
  display:inline-block;
  margin:0 1em;
  
}
.copyright,.footer_navi a{
    color:rgba(255,255,255,0.8);
    font-size:14px;
    
}
.copyright{
    margin:0;
    height:92px;
    line-height: 92px;
    text-align: center;

}
.subpage{
    padding-top:30px;
}

ul.breadcrumb{
    list-style: none; 
    overflow: hidden; 
    font-size: 15pt;            
    margin-bottom: 30px;
    padding:0;
    
    border-image: url("../img/pencil_line.png") 3 round;
    border-image-repeat: repeat;

    border-style:solid;
    border-color:#d8d8d8;
    border-width:3px;
    border-image-width:3px;    
    
    background-color:white;
}        
.breadcrumb li a,
.breadcrumb li span{
    display:block;
    color:#666666;
    text-decoration: none;     
    padding: 10px 0 10px 55px;
    transition-duration:0.4s;
}
.breadcrumb li { 
    float: left; 

    background: white; 
    position: relative; 
    display: block;
    float: left;
    transition-duration:0.4s; 
}
.breadcrumb li a:after { 
    transition-duration:0.4s; 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 2; 
}

.breadcrumb li a:before { 

    transition-duration:0.2s;
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-image: url("../img/pencil_fill.png") 50 0 50 33 round;    
    border-image-repeat: round;    
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left: 3px;
    left: 100%;
    z-index: 1; 
}	

.breadcrumb li:last-child a {
    background: #ececec !important;
    pointer-events: none;
    cursor: default;
}
.breadcrumb li a:hover{
    background-color:#dcdcdc;
    transition-duration:0.2s;
}
.breadcrumb li a:hover:after {
    transition-duration:0.2s;
    border-left: 30px solid #dcdcdc;
}
.blog_single, .static, .mail{
    border-image: url("../img/pencil_line.png") 3 round;
    border-image-repeat: round;    
    border-color:#d8d8d8;
    background-color:white;
    
    border-style:solid;
    border-width:3px;
    border-image-width:3px;
    padding:60px;
    width:778px;
}
.static h1,.mail h1{
    margin-top:0;
    padding-bottom: 60px;
    margin-bottom:60px;
}
.blog_single h1, .static h1{
    font-size:18pt;
    font-weight: normal;
    border-image-width: 0 0 3px 0;
}
.blog_single time{
    font-size:10pt;
}
.blog_sequence{
    background-color:white;
}
.blog_sequence a,.tag_list a{
    color:#666666;
}
.blog_sequence a:hover,.tag_list a:hover{
    text-decoration: underline;
}

a.prev, a.next{
    display:inline-block;
    padding:25px;
    width:350px;
}
a.next{
    text-align:right;
    margin-left:100px;
}
.with_text .center, .with_text .right{
    margin-left:45px;
}
.with_text .article{
    background-color:white;
    width:268px;
    height:480px;
    float:left;
    position: relative;
    overflow: hidden;
    margin-bottom:25px;
        
}
.with_text .eyeCatch{
    position: absolute;
    top:30px;
    left:44px;
}
.with_text .eyeCatch{
    width:180px;
    height:180px;
}
.with_text .eyeCatch img{
    height:180px;    
}
.with_text .tags{
    margin:240px 20px 10px 20px;
    background-color:#a0a092;
    text-align: center;
    color:white;
}
.with_text .title{
    margin:0 20px;
}
.with_text h2{
    display:inline;
    font-size:14pt;
}
.with_text a{
    color:black;
}
.with_text .more a{
    transition-duration: 0.4s;
}
.with_text .content{
    margin:10px 20px;
}
.more a{
    position: absolute;    
    top: 422px;
    z-index: 9990;
    background-color:white;
    height: 56px;
    border: 1px solid black;
    left: 0;
    right: 0;
    line-height: 56px;
    text-align: center;
}
table.blog-calendar {
    border-collapse:collapse;
    height:222px;
    
}
table.blog-calendar{
    width:225px;

}
.blog-calendar th,.blog-calendar td{
    text-align: center;
    padding:0;
}

.widget-blog-calendar{
    float:left;
    width:230px;
    margin-left:80px;
    margin-right: 80px;
}


.mail input[type="text"],.mail input[type="password"],.mail select{
    border:1px solid #D2D2D2;
}
.required,.error-message{
    color:#c30;
}
.submit{
    text-align: center;
}
.mail_submit_message{
    text-align:center;
}
.mail_submit_message h2{
    margin-top:60px;
    padding:0;
    margin-bottom:25px;
}
.mail_submit_message a{
    display:block;
    width: 460px;
    margin:60px auto;
    height:40px;
    text-decoration:none;
    line-height:40px;

}
.mail th, .mail td{
    padding-bottom: 1em;
    padding-top: 1em;
}
#FieldMessageSex,.mail-description,.mail-attention,.mail-attention{
    font-size:10pt;
}
.mail input[type="text"],.mail input[type="password"],.mail input[type="search"]{
    font-size: 12pt;
    padding:2px;
    border-radius:5px;
}
.mail select{
    border-radius:5px;
    height:20pt;
    font-size: 10pt;
}
/*submitボタン*/
.mail .submit input{
    border-radius:50pt;
    box-shadow:1px 1px 2px #888;
    font-size:13pt;       
    border:1px solid #d2d2d2;
    cursor:pointer;
    color:black;
    margin:0 15px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fdfdfd), color-stop(0.46, #e7e8e8), color-stop(0.33, #fff));
    background: -webkit-linear-gradient(top, #fff 33%, #e7e8e8 46%, #fdfdfd 100%);
    background: -moz-linear-gradient(top, #fff 33%, #e7e8e8 46%, #fdfdfd 100%);
    background: -o-linear-gradient(top, #fff 33%, #e7e8e8 46%, #fdfdfd 100%);
    background: -ms-linear-gradient(top, #fff 33%, #e7e8e8 46%, #fdfdfd 100%);
    background: linear-gradient(to bottom, #fff 33%, #e7e8e8 46%, #fdfdfd 100%);

}
.mail .submit input:hover{

    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #f1f9f7), color-stop(1.00, #f1f9f7), color-stop(0.61, #c1e2dc), color-stop(0.47, #dff1ee), color-stop(0.33, #fff));
    background: -webkit-linear-gradient(top, #fff 33%, #dff1ee 47%, #c1e2dc 61%, #f1f9f7 100%, #f1f9f7 100%);
    background: -moz-linear-gradient(top, #fff 33%, #dff1ee 47%, #c1e2dc 61%, #f1f9f7 100%, #f1f9f7 100%);
    background: -o-linear-gradient(top, #fff 33%, #dff1ee 47%, #c1e2dc 61%, #f1f9f7 100%, #f1f9f7 100%);
    background: -ms-linear-gradient(top, #fff 33%, #dff1ee 47%, #c1e2dc 61%, #f1f9f7 100%, #f1f9f7 100%);
    background: linear-gradient(to bottom, #fff 33%, #dff1ee 47%, #c1e2dc 61%, #f1f9f7 100%, #f1f9f7 100%);
    border:1px solid #c1e2dc;
}
.static table{
    margin-left:60px;
    margin-right:60px;
}
.static table tr{
    text-align:left;
}
.static table th,.static table td{    
 height:50px;
 line-height: 50px;
 border-image-width: 0 0 3px 0;
 border-width: 0 0 1px 0;
}
.maps{
    margin-left:60px;
}
.widget_logo{
    float:left;    
}
.widget_logo img{
    border-radius:50%;
}
.widget-area-2{
    padding:55px;
    margin-top:60px;    
}
.widget-blog-recent-entries{
    width:230px;
    float:left;
}

.widget-blog-recent-entries ul{
    margin:0;
    padding:0;
}
.widget-blog-recent-entries li{
    list-style: none;
    text-align: center;
    margin:-1px 0 0 0;    
    border:1px solid #888;
    border-width: 1px 0;
}
.widget-blog-recent-entries a{
    color:black;
    display: block;
    height:40px;
    line-height: 40px;
    width:230px;
    font-size:11pt;
}
@media screen and (max-width: 1020px) {
    #border_left, #border_right{
        transition-duration: 1s;
    }
    #border_left{
        left:-60px;
    }
    #border_right{
        right:-60px;
    }    
}
